
  <manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.rhm.plugins.applegooglepay.capacitorapplegooglepaystripe">
    <application>
      <meta-data
              android:name="com.google.android.gms.wallet.api.enabled"
              android:value="true" />
    </application>
  </manifest>
